
<!DOCTYPE html>
<html lang="en" ng-app="retryDemo">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
      <title>POC: Auto-retry</title>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

      <!-- Angular -->
      <script src="../bower_components/angular/angular.min.js"></script>

      <!-- Retry module and dependencies -->
      <script src="../node_modules/q/q.js"></script>
      <script src="../node_modules/qajax/build/qajax.min.js"></script>
      <script src="../node_modules/qretry/build/qretry.min.js"></script>
      <script src="../node_modules/axios/dist/axios.min.js"></script>
      <script src="../node_modules/pubsub-js/src/pubsub.js"></script>
      <script src="../src/auto-retry-test.js"></script>
      <script src="../src/auto-retry-angular.js"></script>

      <!-- Demo app -->
      <link href="../bower_components/animate.css/animate.min.css" rel="stylesheet">
      <link href="../bower_components/angular-notify/dist/angular-notify.min.css" rel="stylesheet">
      <link href="styles.css" rel="stylesheet">

      <script src="../bower_components/angular-notify/dist/angular-notify.min.js"></script>
      <script src="app.js"></script>
    </head>

  <body ng-controller="demoCtrl as ctrl">

    <notifications-bar class="notifications"></notifications-bar>

    <h2>Test 1</h2>
    <p>Make a request using retry service using default configs.</p>
    <p>
      <strong>Configuration:</strong> None / Default. 
    </p>
    <button ng-click="ctrl.makeRequest()">Make HTTP Request</button>

    <hr/>
    <h2>Test 2</h2>
    <p>
      <strong>Configuration:</strong> Retry failed requests 5 times @ 5000ms interval. 
    </p>
    <button ng-click="ctrl.makeRequest(5, 5000)">Make HTTP Request</button>

    <hr/>
    <p>
      <strong>Configuration:</strong> Retry failed requests 10 times @ 7000ms interval. 
    </p>
    <button ng-click="ctrl.makeRequest(10, 7000)">Make HTTP Request</button>

  </body>

</html>
